{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>src/Controller/ContactController.php</code></li>
        <li>Your template at <code>templates/contact/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
